# Ignore everything by default
*

# Allow master_price_data.csv in root
!master_price_data.csv

# Allow historical folder and its CSV files
!historical/
!historical/*.csv

# Allow margins folder and its CSV files
!margins/
!margins/*.csv

# Allow pricedata folder and its JSON files
!pricedata/
!pricedata/*.json

#Allow price-index.html
!price-index.html


#Allow price-index.html
!kpi.html

# Allow manifest.json (tracks historical files for price-index.html)
!manifest.json

# Allow consumption folder and its files
!consumption/
!consumption/*.csv
!consumption/manifest.json


# Allow consumption folder and its files
!commodities/
!commodities/*.csv
!commodities/manifest.json

# Allow map files itself
!map.html
!map.js
!map-styles.css
!ratings.json


# Allow .gitignore itself
!.gitignore

