/* General Reset */
body, h1, h2, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Banner */
.banner {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Main Content */
main {
    padding: 20px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: rgb(255, 255, 255);
}